# Dependencies
node_modules/

# Build
/dist
/build

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# TypeScript incremental compilation cache
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage

# Misc
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# temporary files
tmp/
temp/

# Stripe webhook testing
.stripe/
webhook-events/ 